.input_login {
  font-family: customHelvetica;
  font-size: 11pt;
  border-width: 0px;
  width: 50%;
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}
