.profileConent {
  margin-top: 65px;
  margin-left: 15px;
  font-family: customHelvetica;
}
.Location {
  font-family: customHelvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.Username {
  font-family: customHelvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.updateProfile {
  font-family: customHelvetica;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  color: #988bf2;
  justifycontent: "center";
  alignitems: "center";
}
.header__logo {
  width: 110px;
}
.popularSongs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_card_title {
  font-size: 25px;
}

.dataCard_home {
  max-width: 80%;
  min-height: 300px;
}
