.footer {
  text-align: center;
  margin: 20px;
  font-size: 11pt;
  color: white;
  font-family: customHelvetica;
}

.footerFlex {
  flex: 1;
  width: 100%;
  flex-shrink: 0;
  background-color: #5c89f5;
}
