.headerContainer {
  display: flex;
  flex-direction: column;
  flex-flow: row;
  width: 100%;
  background-color: #0079bf;
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 55px;
}
a {
  padding: 0;
}
.headerSearch {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerNavigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1%;
}
.searchTextArea {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 90%;
  height: 100%;
}

.headerLogo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: visible;
  margin-left: 10px;
}

.searchBar {
  width: 80%;
  min-width: 110px;
  height: 37px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #008fe1;
}

.searchIconContainer {
  padding-left: 10px;
}
.inputField {
  font-family: customHelvetica;
  font-size: 11pt;
  border-width: 0px;
  width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80%;
  color: white;

  background-color: #008fe1;
}
.inputField::placeholder {
  color: white;
}
.inputField::-webkit-input-placeholder {
  color: white;
}
.inputField:-moz-placeholder {
  color: white;
}
.inputField::focus {
  outline: none;
}

.header__logo_header {
  content: url("../../res/logo_icon.png");
  height: 40px;
  padding: 0px;
}
@media (max-width: 600px) {
  .header__logo_header {
    content: url("../../res/icon.png");
    height: 40px;
    padding: 0px;
  }
}
.far.fa-heart,
.far.fa-user-circle {
  color: white;
}

.header-links {
  text-decoration: none;
  color: black;
}
