.CardArea {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 100%;
  top: 65px;
}

.title {
  font-size: 20pt;
  color: white;
}

.pos {
  margin-bottom: 12;
  color: lightgray;
  font-size: 13pt;
}

.dataCard {
  font-family: customHelvetica;
  width: 300px;
  margin: 30px;
  height: 200px;
  flex: 1 auto;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
