 .header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0; 
 }
 
.headerContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row;
  height:65px;
 
}

.headerSearch {
   flex: 2;
   display: flex;
   align-items: center;
   justify-content: center;
}

.headerNavigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1%;
  }

  .headerLogo {
  flex: 1;
  padding-left: 1%;
 }

.searchBar {
  width: 80%;
  min-width: 100px;
 height: 40px;
 background-color: white;
 border-radius: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 }
 
 .searchIconContainer {
  padding-left: 10px;
}
 .inputField {
   font-family: 'Helvetica', 'Arial', sans-serif;
   border-width: 0px;
   font-size: 13pt;
   width: 90%;
  }
  input:focus {
    outline: none;
  }
  
  .header__logo {
  width: 150px;
   }
  .far.fa-heart, .far.fa-user-circle{
  color: white; 
  }