.Player {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 10px;
}

.Player-header {
  background-color: #336bf2;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 3%;
}

a {
  color: #61dafb;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 20px;
}

.user-details {
  text-align: left;
  padding-top: 20px;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
