.background-image{
     /*background-image: url("./res/bg.png");*/ 
     background-repeat: repeat;
      filter: blur(5px);
    height: 100%;
    position: fixed;
     left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

@font-face { 
    font-family: customHelvetica; src: url('./fonts/HelveticaRoundedLTStd-Bd.otf');
  }

  @font-face { 
    font-family: customHelvetica2; src: url('./fonts/HelveticaRoundedLTStd-BdCn.otf');
}