.background-image{
    /*background-image: url("./res/bg.png");*/ 
    background-repeat: repeat;
    background-size: auto;
    filter: blur(5px);
    height: 100%;
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    z-index: -1;
}