.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 50px;
  object-fit: contain;
  margin: 5px;
}
.header__music {
  color: white;
  object-fit: contain;
}
.header__profile {
  color: white;
}
